@include font-face(roboto-regular);

body,
html {
	margin: 0;
	padding: 0;
	background-color: rgba(164, 205, 210, 0.04);
	font-family: roboto-regular, Helvetica, sans-serif;
	box-sizing: border-box;
	height: 100%;
}
html {
	overflow: hidden;
}
body {
	overflow: auto;
}
a {
	text-decoration: none;
}

.app {
	display: flex;
}

.content {
	flex: 1 1 0;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

@media (min-device-width: 320px) and (max-device-width: 768px) {
  .not-available {
    align-items: center;
    background-color: white;
    display: flex !important;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  #app-node {
    display: none;
  }
}
