.content {
	&__my-staffing{
		background-color: f7f7f7;
	}

	&__title {
		height: $bar-height - 2;
		border-bottom: 2px solid #cbcbcb;
		position: relative;
		background-color: f7f7f7;

		&__text {
			position: absolute;
			bottom: 10px;
			left: 20px;
			font-size: 1.8em;
			font-weight: 300;
		}
		&__as-on{
			position: absolute;
			top: 50px;
			right: 20px;
			font-size: 12px;
			color : #4d73c5;
		}
		&__user-greeting{
			position: absolute;
			top: 30px;
			right: 20px;
			color : #6e6e6e;

			&__name {
				font-weight: bold;
				color: #3c3c3c;
			}
		}
	}
}
