.my-staffing {
	&__project-card {
		width : 83%;
		margin: 10px auto;
		padding: 10px;
		border: 1px solid #e5e5e5;
		border-radius: 5px;
		background-color: white;

		&__text{
			margin: 12px 0;
			color: #6a6a6a;
			font-weight: 300;
			font-size: 12px;
		}
		&__outer {
			width: 25%;
		}
	}
	&__project-bar {
		display: flex;
		flex-direction: column;
		width: 100%;
		&__project-card-container,
		&__title {
			display: flex;
			margin: 0 auto;
		}
		&__project-card-container{
			width: 100%;
			min-height: 150px;
			&__no-projects{
				margin: auto;
				font-size: 1.5em;
				color: #bbb;
			}
		}
		&__title {
			width: 97%;
			align-items: flex-end;
			height: 40px;
			padding-bottom: 10px;
			padding-left: 5px;
			color: #545454;
			font-weight: 400;
			border-bottom: 1px solid #d5d6dc;
		}
	}
}
