.sidebar {
	width: $sidebar-width;
	background-color: $sidebar-background;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	&__title {
		display: flex;
		height: $bar-height;
		border-bottom: 1px solid #949495;
		&__text {
			text-align: center;
			color: white;
			font-weight: 500;
			width: 80%;
			margin: auto;
			&__user-normal {
				display: flex;
				flex-flow: column nowrap;
			}
		}
	}
	&__item {
		height: 67px;
		font-size: 10px;
		color: #b2b2b2;
		font-weight: 500;
		text-decoration: none;
		text-align: center;
		display: flex;
		border-bottom: 1px solid #949495;
		transition: background-color 0.2s ease-in;

		&--selected {
			background-color: #EA5A5A;
			color: white;
			.sidebar__item__image{
				filter : $icon-filter-selected;
			}
		}

		&__container{
			margin: auto;
		}
		&__image{
			height: 30px;
			width: 30px;
			margin-bottom: 10px;
			filter: $icon-filter-default;
		}
	}
	&__subitem{
		height: 0;
		overflow: hidden;
		font-size: 10px;
		color: #b2b2b2;
		font-weight: 500;
		text-decoration: none;
		text-align: center;
		display: flex;
		transition: background-color 0.2s ease-in, height 0.2s ease-in;
		&__container{
			margin: auto;
		}
		&--selected {
			background-color: #c35358;
			color: white;
		}
		&--shown{
			height: 30px;
		}
	}
}

.sidebar-filler{
	position: static;
}
