.utilization {
	&__modal__table {
		$border: 1px solid grey;
		margin-top: 20px;
		width: 100%;
		font-size: 0.9em;
		border-top: $border;
		// border-left: $border;
		tr {
			display: flex;
			td,
			th {
				border-bottom: $border;
				border-right: $border;
				text-align: left;
				padding: 10px 5px;
				flex: 1 1 0;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			th {
				background-color: white;
			}
		}
		tr:nth-child(odd) {
			background-color: #fbfbfa;
		}
		tr:nth-child(even) {
			background-color: #f6f6f5;
		}
	}
	&__filter-bar {
		display: flex;
		&__filter-box {
			width: 80%;
			height: 85%;
			margin: auto;
			cursor: pointer;
			border-radius: 5px;
			position: relative;
			&__text {
				position: absolute;
				bottom: 0;
				text-align: center;
				font-weight: 300;
				padding: 15px 0;
				background-color: rgba(255, 255, 255, 0.2);
				color: white;
				width: 100%;
			}
			&__checkbox {
				position: absolute;
				top: 8px;
				left: 8px;
				height: 30px;
				width: 30px;
				border: 2px solid white;
				border-radius: 50%;
				transition: background-color 0.2s ease-in;
				&--checked {
					background: white url(../images/utilization/tick.svg) no-repeat center center;
					background-color: white;
					background-size: 75%;
				}
			}
			&__image {
				position: absolute;
				right: 0;
				top: 0;
				width: 65%;
				height: 122px;
				display: flex;
				img {
					width: 85%;
					height: 85%;
					margin: auto;
				}
			}
		}
		&__filter-box-container {
			flex: 1 1 0;
			display: flex;
			height: 200px;
		}
	}
	&__second-title {
		color: #6d6d6d;
		font-size: 1.5em;
		margin-left: 22px;
		margin-top: 20px;
	}
	&__modal {
		&__close {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 2em;
			cursor: pointer;
		}

		&__filter-bar {
      display: flex;
      &__stream{
        flex: 1 1 0;
        margin: auto;
      }
			&__amount {
        flex: 3 1 0;
				display: flex;
				&__button {
					cursor: pointer;
					flex: 1 1 0;
					padding: 10px;
					border-radius: 15px;
					margin: 15px 20px;
					max-width: 150px;
					display: flex;
					div {
						margin: auto;
					}
				}
			}
		}
	}
}
