//Dimensions
$sidebar-width : 80px;
$bar-height : 68px;

//Colors
$sidebar-background : #313542;
$icon-filter-default : invert(70%);
$icon-filter-selected : invert(100%);
$pipeline-negotiation-color : #e3797a;
$pipeline-pending-color : #da9e49;
$pipeline-materialized-color : #5dc090;
$pipeline-staffed-color : #3774ce;
$body-background : #F8FBFC;
